@media (max-width: 400px) {
  body {
    padding: 15px;
  }
  .container {
    width: 100%;
  }
  header h2 {
    font-size: 1.3rem;
  }
  .restante span {
    margin: 0 20px 0 10px;
  }
  .flex-row {
    justify-content: space-between;
    gap: 15px;
  }
}
